rococo-gateway/userdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="rococo-userdata"
           targetNamespace="rococo-userdata" elementFormDefault="qualified">

    <xs:element name="updateUserInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="userRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="userResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="firstname" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lastname" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="avatar" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>